<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135438795981-dvrrnpf9u480i884jo2rub3q3af9eugp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135438795981-dvrrnpf9u480i884jo2rub3q3af9eugp</string>
	<key>API_KEY</key>
	<string>AIzaSyB2FPw2l3Zj6HTjTjL_bI46TKqHMSgRhXE</string>
	<key>GCM_SENDER_ID</key>
	<string>135438795981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.havadurumuapp</string>
	<key>PROJECT_ID</key>
	<string>havadurumuapp-fcb97</string>
	<key>STORAGE_BUCKET</key>
	<string>havadurumuapp-fcb97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135438795981:ios:b1b8d4ed52aa076c099584</string>
</dict>
</plist>